# OS/Editor
Thumb.db
ehthumbs.db
~$*
Desktop.ini
.DS_Store
.AppleDouble
.LSOverride
Zone.Identifier
*.swp
._*
*.~
*.un

# LaTeX
*.synctex.gz
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz(busy)
*.pdfsync
*.rubbercache
rubber.cache
*.aux
*.log
*.fls
*.toc
# empty filename
.pdf

*.md
!README.md

out/
PastExamPapers/*
